@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
* {
  scroll-behavior: smooth;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: #faf6f0;
    /* background-color: blanchedalmond; */
  }
}

#fullScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  /* background: rgba(51, 51, 51, 0.7); */
  z-index: 10;
}

.nav {
  position: fixed;
  z-index: 10;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  padding: 4px;
  display: flex;
  align-items: center;
}
.nav-scrolled {
  color: #000000;
  background: #fff8e9;
  box-shadow: 0 3px 20px rgba(black, 0.2);
}
.nav-menu {
  color: inherit;
  height: 100%;
  margin-left: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* .nav-menu::before {
  position: absolute;
  content: '';
  border-radius: 30px;
  height: 60px;
  width: 370px;
  top: 6px;
  right: 8px;
  box-shadow: 0px 0px 20px 0 rgba(30, 30, 30, 0.3);
  transform: scale(1);
  transition: all 0.75s cubic-bezier(0.79, 0, 0.24, 1) 0s;
} */

.nav-links {
  color: inherit;
  display: flex;
  justify-content: space-between;
}

.nav-link {
  color: inherit;
  position: relative;
  font-size: 18px;
  width: fit-content;
}
.nav-link a {
  text-transform: lowercase;
  color: inherit;
  padding: 15px;
}

.nav-link::after {
  content: '';
  border-top: 0.15em solid primary;
  position: absolute;
  margin: 0 auto;
  width: 0;
  left: 0;
  right: 0;
  top: 50%;
  transition: width 0.3s cubic-bezier(0.68, 0, 0.33, 1) 0.1s,
    border-color 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.removeLi {
  list-style-type: none;
}

.scrollArrow {
  /* margin-top: 120px; */
  margin-top: 30px;
  /* width: 1200px; */
  /* transform: translate(-50%, -50%); */
}
.scrollArrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid rgb(99, 97, 97);
  border-right: 5px solid #fcb017;
  transform: rotate(45deg);
  /* margin-left: 1550px; */
  animation: scroll 2s infinite;
}

.scrollArrow span:nth-child(2) {
  animation-delay: -0.2s;
}
.scrollArrow span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes scroll {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

.drop-shadow {
  text-shadow: rgb(185, 181, 181) 2px 4px;
}
.drop-shadow-service {
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

/* .drop-shadow {
  text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(0, 0, 0, 0.15),
    0px 24px 2px rgba(0, 0, 0, 0.1), 0px 34px 30px rgba(0, 0, 0, 0.1);D
} */
.drop-shadow-smaller {
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

.hero-image {
  opacity: 0.9;
  border-radius: 30px;
}

.d3-image {
  opacity: 0.25;
}

.falsehaha {
  opacity: 0;
  transform: translateY(150px);
  transition: all 2s ease;
}

.truehaha {
  opacity: 0;
  transform: translateY(150px);
  animation: fadeInup2 1.5s ease forwards;
}

.button-a {
  display: block;
  width: 130px;
  height: 50px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  border-radius: 15px;
  border: 2px solid #fcb017;
  color: #000000;
  font-size: 15px;
  /* font-weight: 500; */
  position: relative;
  overflow: hidden;
  background: transparent;
  transition: all 0.35s;
}

.button-a:before,
.button-a:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background: #fcb017;
  z-index: -1;
  transition: all 0.35s;
}

.button-a:before {
  opacity: 0.5;
}

.button-a:after {
  transition-delay: 0.2s;
}

.button-a:hover {
  color: #fcb017;
}

.button-a:hover:before,
.button-a:hover:after {
  top: 0;
}

.button-b {
  display: block;
  width: 130px;
  height: 50px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  border-radius: 15px;
  border: 2px solid #fcb017;
  color: #000000;
  font-size: 15px;
  /* font-weight: 500; */
  position: relative;
  overflow: hidden;
  background: transparent;
  transition: all 0.35s;
}

.button-b:before,
.button-b:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background: #fcb017;
  z-index: -1;
  transition: all 0.35s;
}

.button-b:before {
  opacity: 0.5;
}

.button-b:after {
  transition-delay: 0.2s;
}

.button-b:hover {
  color: #000000;
}

.button-b:hover:after,
.button-b:hover:before {
  top: 0;
}

.btn-like {
  background-color: #fcb017;
  color: #ffffff;
  margin-top: 20px;
}
.btn-like:hover {
  box-shadow: 0px 0px 0px 2.5px #fff, 0px 0px 0px 5px #fcb017,
    0px 0px 0px 10px white, 0px 0px 0px 10.5px #fcb017;
  background: white;
  color: #fcb017;
}

.dotColor {
  color: #1a3c6e;
  font-size: 50px;

  font-family: Inter;
  font-size: 64px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
}

.aboutline {
  width: 120px;
  height: 0px;
  border: 2px solid #fcb017;
}

#typingTest {
  opacity: 0;
  transform: translateX(25rem);
  animation: fadeside 2s ease 1s forwards;
}

.cta {
  position: relative;

  padding: 17px 22px;

  transition: all 0.2s ease;
}

.cta:before {
  content: '';

  position: absolute;

  top: 0;

  left: 0;

  display: block;

  border-radius: 28px;

  background: #fcb017;

  width: 56px;

  height: 56px;

  transition: all 0.3s ease;
}

.cta span {
  position: relative;

  font-size: 16px;

  line-height: 18px;

  font-weight: 900;

  letter-spacing: 0.25em;

  text-transform: uppercase;

  vertical-align: middle;
}

.cta svg {
  position: relative;

  top: 0;

  margin-left: 10px;

  fill: none;

  stroke-linecap: round;

  stroke-linejoin: round;

  stroke: #fcb017;

  stroke-width: 2;

  transform: translateX(-5px);

  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;

  background: #fcb017;
}

.cta:hover svg {
  transform: translateX(0);

  stroke: black;
}

.cta:active {
  transform: scale(0.96);
}

.labels {
  border-color: #e55743;
}

.container {
  width: 500px;

  height: 340px;

  border-radius: 30px;

  margin: 0 auto;

  position: relative;

  -webkit-perspective: 1000;

  -moz-perspective: 1000;

  perspective: 1000;

  -moz-transform: perspective(1400px);

  -ms-transform: perspective(1400px);

  -webkit-transform-style: preserve-3d;

  -moz-transform-style: preserve-3d;

  transform-style: preserve-3d;

  -webkit-perspective-origin: right;

  -moz-perspective-origin: right;

  perspective-origin: right;
}

.card {
  width: 500px;

  height: 340px;

  border-radius: 30px;

  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.7), 0 17px 17px 0 rgba(0, 0, 0, 0.5);

  position: relative;

  -webkit-transform: rotate(0deg);

  -moz-transform: rotate(0deg);

  -ms-transform: rotate(0deg);

  transform: rotate(0deg);

  -webkit-transform-origin: 100% 0%;

  -moz-transform-origin: 100% 0%;

  -ms-transform-origin: 100% 0%;

  transform-origin: 100% 0%;

  -webkit-transform-style: preserve-3d;

  -moz-transform-style: preserve-3d;

  transform-style: preserve-3d;

  transition: 0.5s ease-in-out;
}

.container:hover .card {
  -webkit-transform: rotateY(180deg) translateX(100%);

  -moz-transform: rotateY(180deg) translateX(100%);

  -ms-transform: rotateY(180deg) translateX(100%);

  transform: rotateY(180deg) translateX(100%);

  cursor: pointer;
}

.img-belowshadowtest {
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.7), 0 17px 17px 0 rgba(0, 0, 0, 0.5);
}

.quoteNr {
  color: '#fcb017';
}

.custom-datepicker {
  display: none; /* Hide the default input */
}

.react-datepicker {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.react-datepicker__header {
  background-color: #f0f0f0;
  border-bottom: 1px solid #ddd;
}

.react-datepicker__day {
  color: black;
}

.react-datepicker__day:hover {
  background-color: #e0e0e0; /* Change color on hover */
}

.custom-datepicker input::placeholder {
  color: grey; /* Change the color of the placeholder text */
  opacity: 0.5; /* Change the opacity of the placeholder text */
  font-size: 14px; /* Change the font size */
}

.flip-card {
  perspective: 1000px;
  width: 350px;
  height: 400px;
  margin: auto;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  position: relative;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
}

.flip-card-back {
  transform: rotateY(180deg);
}

/* Hover effect for lifting and shadow */
.flip-card:hover .flip-card-front {
  transform: translateY(-20px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s, box-shadow 0.5s;
}

.flip-card:hover .flip-card-front img {
  filter: brightness(1.1);
  transition: filter 0.8s;
}

.btn-svcard {
  background-color: #fcb017;
  color: #ffffff;
  opacity: 0.9;
}
.btn-svcard:hover {
  box-shadow: 0px 0px 0px 2.5px #fff, 0px 0px 0px 5px #fcb017,
    0px 0px 0px 10px white, 0px 0px 0px 10.5px #fcb017;
  background: white;
  color: #fcb017;
}

.advantages-card:hover {
  transform: translateY(-20px);
  /* box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5); */
  transition: transform 0.5s;
}

.curved-background {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px; /* Adjust for curvature size */
  background-image: url('https://a.travel-assets.com/findyours-php/viewfinder/images/res70/300000/300847-Suffolk.jpg'); /* Replace with your image */
  background-size: cover;
  background-position: center;
  clip-path: ellipse(59% 65% at 53% 29%);

}


@media (max-width: 768px) {
  .curved-background {
    height: 200px; /* Adjust for smaller screens */
  }
}

.curved-background-quote {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px; /* Adjust for curvature size */
  background-image: url('https://media.istockphoto.com/id/1466527775/photo/ponquogue-beach-in-the-hamptons.jpg?s=2048x2048&w=is&k=20&c=eVghKy9FKZvmZ97fymkRSNEXv2WKR9OdTFk4O5ebte0='); /* Replace with your image */
  background-size: cover;
  background-position: center;
  clip-path: ellipse(59% 65% at 53% 29%);

}


@media (max-width: 768px) {
  .curved-background-quote {
    height: 200px; /* Adjust for smaller screens */
  }
}




.background-box {
  padding-bottom: 30px;

  background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0) 10%,
      white 80%
    ),
    
      linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.4)),
    url('../Assests/Submit5.jpg');
  background-size: 100% 100%; 
  background-position: center;
  background-repeat: no-repeat;
}

.card-content {
  position: relative;
  overflow: hidden;
}

.card-content .content {
  animation: fade-slide 1s ease-in-out;
}

@keyframes fade-slide {
  0% {
    opacity: 0;
    transform: translateX(70%);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* .card-content {
  position: relative;
  overflow: hidden;
}

.content {
  position: absolute;
  animation: slide-both 1s ease-in-out;
}

@keyframes slide-both {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}

.content.exit {
  animation: slide-out 1s ease-in-out forwards;
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
} */

/* ------------------------------------------------------------------ */

*.footer {
  display: flex;

  flex-flow: row wrap;

  padding: 10px 10px 10px 20px;

  color: #2f2f2f;

  /* background-color: #faf6f0; */

  border-top: 1px solid #e5e5e5;
}
.footer > * {
  flex: 1 100%;
}

.footer__addr {
  margin-top: 2em;
  margin-right: 1.25em;
  margin-left: 10em;
  margin-bottom: 2em;
  flex: 1 1 30%; /* Align with other sections */
}

.footer__addr h2 {
  margin-top: 1.1em;

  font-size: 15px;

  font-weight: 400;
}

.nav__title {
  font-weight: 400;

  font-size: 15px;
}

.footer address {
  font-style: normal;

  color: #999;
}

.footer ul {
  list-style: none;

  padding-left: 0;
}

.footer li {
  line-height: 2em;
  font-size: 12px;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;

  flex-flow: row wrap;
  flex: 1 1 50%; /* Adjust the width to match the address */
}

.footer__nav > * {
  flex: 1 50%;

  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
  font-size: 13px;
}

.nav__ul {
  margin-top: 1.5em;
  /* margin-left: 5; */
}

.legal {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #999;
  font-size: 12px;
  margin-top: 1.5em;
  width: 100%;
  margin-left: 13em;
}

.legal_madeby {
  display: flex;
  align-items: center;
  margin-left: auto; /* Pushes to the right side, aligning with "Contact Us" */
}

.heart {
  color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }

  .nav__item--extra {
    flex-grow: 1;
  }

  .footer__addr {
    flex: 1 0px;
  }

  .footer__nav {
    flex: 2 0px;
  }
}

.imageabout-hover {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.imageabout-hover:hover {
  opacity: 0.5;
}






.falseview {
  opacity: 0;
  transform: translateY(150px);
  transition: all 2.5s ease;

}

 

.trueview {
  opacity: 0;
  transform: translateY(150px);
  animation: fadeInup2 2.5s ease forwards;

}


@keyframes fadeInup2 {
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}





.cardEffect {
  opacity: 0;
  transform: translateX(0); /* Default starting position */
}

/* Fade from right */
.fadeInLeft {
  animation: fadeInLeft 2s ease forwards;
}

.fadeInRight {
  animation: fadeInRight 2s ease forwards;
}

@keyframes fadeInRight {
  from {
    transform: translateX(-100px); /* Starts from the left */
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  from {
    transform: translateX(100px); /* Starts from the right */
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.fadeInUp {
  animation: fadeInUp 2s ease forwards;
}

@keyframes fadeInUp {
  from {
    transform: translateY(100px); /* Starts from the right */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}